{% extends "layout.html" %}
{% block body %}

<nav id="maldroidNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">malDroid</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="https://github.com/Poppyseedplehzr/maldroid" target="_blank">Source</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('reports') }}">Reports</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <h2>About malDroid</h2>
        malDroid is an open source Android APK malware analysis engine, designed to
        aid in forensic and malware analysts. Originally developed as a class project
        for NYU: Polytechnic School of Engineering's Mobile Security course during
        Fall of 2014, this project hopes to grow into a framework that can be used
        by Malware Researchers, Incident Responders, and Academics, excited about malware
        research.<br>
        malDroid functions by leveraging pre-existing mobile malware scanners, currently
        VirusTotal and Androguard, and presents the findings of all scanners to the user.
        The future of this project is to build a more thorough dissection engine which will
        attempt to employ static code analysis techniques as well as other dynamic
        environment scanners, such as the Andrubis project.  For more information,
        check out our <a href="https://github.com/Poppyseedplehzr/maldroid">source code.</a>
    </div>
    <img src="static/img/mal_droid1.jpg" class="img-responsive center-block"/>
</div>
{% endblock %}
