{% extends "layout.html" %}
{% block body %}

<nav id="maldroidNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">malDroid</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="https://github.com/Poppyseedplehzr/maldroid" target="_blank">Source</a></li>
                <li class="active"><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('reports') }}">Reports</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <h2>Contact Us</h2>
        Welcome to the Android Malicious Application Scanner, or malDroid.  This utility
        is designed to scan potentially malicious Android applications in order to aid
        forensic and malware analysis of malicious applications.  This is an Open Source
        project for the Mobile Security course at NYU: Polytechnic School of Engineering, Fall 2014.
        <h4>Contributing</h4>
        If you're interested in contributing to malDroid, check out the
        <a href="https://github.com/Poppyseedplehzr/maldroid">github</a>.
        <h4>Authors</h4>
        Nick Anderson - muffins@isis.poly.edu<br>
        Michael Thompson - mt1553@nyu.edu

    </div>

</div>
{% endblock %}
