{% extends "layout.html" %}
{% block body %}

<nav id="maldroidNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">malDroid</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="https://github.com/Poppyseedplehzr/maldroid" target="_blank">Source</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li class="active"><a href="{{ url_for('reports') }}">Reports</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
      {% if not report %}
        <h3>Report for {{comname|safe}} is not yet ready.  Please try again shortly.</h3>
      {% else %}
        <h3>Report for {{comname|safe}}</h3>
        {% if score < 0.10 %}
          <p class="bg-success">{{comname|safe}} has a low probability of being malicious.</p>
        {% elif score >= 0.10 and score < 0.40 %}
          <p class="bg-warning">{{comname|safe}} has a <strong>medium</strong> probability of being malicious!</p>
        {% elif score >= 0.40 and score < 0.70 %}
          <p class="bg-danger">{{comname|safe}} has a <strong>high</strong> probability of being malicious!</p>
        {% elif score >= 0.70 and score <= 1 %}
          <p class="bg-danger">{{comname|safe}} is <strong>very likely</strong> malicious!</p>
        {% else %}
          <p class="bg-info">Unable to compute malicious score for {{comname|safe}}.</p>
        {% endif %}

        <br>SHA256: {{digest}}
        <br>App submitted for analysis on: {{tstamp}} UTC
        <br>

            <!-- Virus Total -->
            <h3>Virus Total</h3><br>
            {{comname|safe}} flagged as malicious on <strong>{{report["virustotal"]["positives"]}}
            out of {{report["virustotal"]["total"]}}</strong> AV engines.  See the Virus Total
            Analysis below for full details:
            <br>{{report["virustotal"]["permalink"]}}
            <!-- End Virus Total -->

            <br><br>

            <!-- Androguard -->
            <h3>Androguard Analysis</h3><br>
            <h4>Requested Android Permissions:</h4><br>
            {% if report["androguard_perms"] %}
                {% for k in report["androguard_perms"].keys() %}
                    <div class="media">
                        <div class="media-body">
                            <h5 class="media-heading">{{k.split(".")[-1]}}</h5>
                            {{report["androguard_perms"][k][-1]}}
                        </div>
                        <br>
                    <div>
                {% endfor %}
            {% else %}
                <strong>Androguard was unable to parse the requested permissions!</strong>
            {% endif %}
            <br><br>

            <h4>Registered Android Activities:</h4><br>
            {% if report["androguard_activities"] %}
                <table>
                {% for a in report["androguard_activities"] %}
                    <tr><td>{{a}}</td></tr>
                {% endfor %}
                </table>
            {% else %}
                <strong>Androguard was unable to parse the registered activities!</strong>
            {% endif %}
            <br><br>

            <h4>Registered Android Services:</h4><br>
            {% if report["androguard_services"] %}
                <table>
                {% for s in report["androguard_services"] %}
                    <tr><td>{{s}}</td></tr>
                {% endfor %}
                </table>
            {% else %}
                <strong>Androguard was unable to parse the registered activities!</strong>
            {% endif %}
            <br><br>

          <h4>Androguard Risk Assessment:</h4><br>
          {% if report["androguard_risk"] %}
            {% for k in report["androguard_risk"].keys() %}
              {% if k == "RedFlags" %}
                  {% for flag in report["androguard_risk"][k].keys() %}
                    <div class="table-responsive">
                        <table class="table">
                        <thead>
                            {{flag}}
                        </thead>
                      {% for val in report["androguard_risk"][k][flag].keys() %}
                        <tbody>
                            <tr>
                                <td><small>{{val}}<small></td>
                                <td> </td>
                                <td>{{report["androguard_risk"][k][flag][val]}}</td>
                            </tr>
                        </tbody>
                      {% endfor %}
                    </table>
                    </div>
                  {% endfor %}
              {% elif k == "FuzzyRisk"%}
                Fuzzy Risk - {{report["androguard_risk"][k]["VALUE"]}}
              {% endif %}
            {% endfor %}
          {% else %}
            <strong>Androguard was unable to assess the applications risk score!</strong>
          {% endif %}
          <br><br>
          <!-- End Androguard -->



        </p>
      {% endif %}

    </div>
</div>
{% endblock %}
