{% extends "layout.html" %}
{% block body %}

<nav id="maldroidNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">malDroid</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="https://github.com/Poppyseedplehzr/maldroid" target="_blank">Source</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('reports') }}">Reports</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <h2>Welcome to malDroid</h2>
        Welcome to the Android Malicious Application Scanner, or malDroid.  This
        utility is designed to scan potentially malicious Android Applications
        and provide as much information as possible for forensic and malware
        analysis.<br>For more information check out what we're all <a href="{{url_for('about')}}">about</a>
    </div>

    <div class="row">
		<div class="col-md-8 col-md-offset-5">
			<h3>Upload an APK</h3>
			<form action="{{ url_for('upload') }}" method=post enctype=multipart/form-data>
	    		<p>
	    			<input type=file name=file>
	    			<input type=submit value=Upload>
	    		</p>
			</form>
		</div>
    </div>
    <hr>
</div>
{% endblock %}
