{% extends "layout.html" %}
{% block body %}

<nav id="maldroidNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">malDroid</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="https://github.com/Poppyseedplehzr/maldroid" target="_blank">Source</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li class="active"><a href="{{ url_for('reports') }}">Reports</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
      <h4> Your sample has been successfully submitted! We have begun processing
        your sample, it should be finished shortly.</h4>
      To see the results check the <a href="{{ url_for('reports') }}">reports</a>
      section and select the entry below.
      <br>{{ appname }}
      <br>Sha 256: {{ digest }}
    </div>
</div>
{% endblock %}
